<!DOCTYPE html>
<html>
<head>
  <title>Aothine</title>
  <link rel="stylesheet" href="/styles/base.css"/>
</head>
<body>
  <div class="primary-column">
    <div class="mast-head">
      AOTHINE
    </div>
    <div class="navigation low-shadow">
      <div class="items-wrapper">
        <div class="dot-wrapper">
          <div class="dot"></div>
        </div>
        <span>HOME</span>
      </div>
    </div>
    <div class="content-wrapper">
      {{ content }}
    </div>
    
  </div>
</body>
</html>