<!DOCTYPE html>
<html>
<head>
  <title>AOTHINE</title>
  <link rel="stylesheet" href="/styles/base.css"/>
  <script src="/js/perlin.js"></script>
  <script src="/js/navigation-motion.js"></script>
</head>
<body>
  <div class="primary-column">
    <div class="mast-head">
      AOTHINE
    </div>
    <div class="navigation low-shadow">
      <div class="items-wrapper">
        <div class="dot-wrapper">
          <div class="dot"></div>
        </div>
        <a href="/">
          <div class="left-bar"></div>
          <div class="vertical-wrapper">
            <div class="top-bar"></div>
            <div>HOME</div>
            <div class="bottom-bar"></div>
          </div>
          <div class="right-bar"></div>
        </a>

        <a href="/">
          <div class="left-bar"></div>
          <div class="vertical-wrapper">
            <div class="top-bar"></div>
            <div>OSt</div>
            <div class="bottom-bar"></div>
          </div>
          <div class="right-bar"></div>
        </a>
        <a href="/">
          <div class="left-bar"></div>
          <div class="vertical-wrapper">
            <div class="top-bar"></div>
            <div>BUNKER</div>
            <div class="bottom-bar"></div>
          </div>
          <div class="right-bar"></div>
        </a>
        <!-- <a href="/ost">OSt</a>
        <a href="/bunker">Bunker</a> -->
      </div>
    </div>
    <div class="content-wrapper">
      {{ content }}
    </div>
    
  </div>
</body>
</html>