---
---
@import 'colors';
@import 'utils';

@font-face {
    font-family: Coda;
    src: url(/fonts/Coda-Regular.ttf);
}

@font-face {
    font-family: CuteFont;
    src: url(/fonts/CuteFont-Regular.ttf);
}

@font-face {
    font-family: Iceland;
    src: url(/fonts/Iceland-Regular.ttf);
}

@font-face {
    font-family: VT323;
    src: url(/fonts/VT323-Regular.ttf);
}

@font-face {
    font-family: PressStart;
    src: url(/fonts/PressStart2P-Regular.ttf);
}

@keyframes navigation-motion {
    from {transform: translate(0, 0);}
    20% {transform: translate(2px, 2px);}
    40% {transform: translate(-2px, 2px);}
    // 50% {transform: translate(0px, 0px);}
    60% {transform: translate(2px, -2px);}
    80% {transform: translate(-2px, -2px);}
    100% {transform: translate(0px, 0px);}
}

* {
  box-sizing:border-box;
}

html {
  height:100vh;
  width:100vw;
  overflow:hidden;
  background:repeat url("/images/aothine_background3.png");

  body {
    height:100%;
    width:100%;
    overflow-y:auto;
    color:$dark-blue;
    font-family:VT323;
    // background-color:red;

    div.primary-column {
      width:100%;
      max-width:800px;
      margin-left:auto;
      margin-right:auto;

      div.mast-head {
        font-family:VT323;
        font-size:5rem;
        width:100%;
        padding-top:12px;
        padding-bottom:12px;
        text-align:center;
        color:$dark-blue;

        div {
          display:inline-block;
        }

        .pre {
          width:8px;
          height:3rem;
          border-top:8px solid $dark-blue;
          margin-right:8px;
        }

        div.center {
          .bottom-bar {
            width:12%;
            height:4px;
            background-color:$dark-blue;
            float:right;
            margin-right:-12px;
          }
        }

        .post {
          width:4px;
          height:1.5rem;
          background-color:$dark-blue;
          vertical-align:bottom;
          margin-left:12px
        }
      }

      div.navigation {
        width:100%;
        padding:8px;
        color:$light-blue;
        // background-color:$light-blue;
        // background-color:white;
        background-color:$greyish;
        font-size:1.5rem;
        transform: translate(0, 0);

        animation: navigation-motion 12s ease-out;
        animation-iteration-count: infinite;
        
        .items-wrapper {
          // text-align:center;
          display:flex;
          padding:4px;
          border-bottom:2px solid $light-blue;

          .dot-wrapper {
            margin-right:0px;
          }

          a {
            $corner-major:16px;
            $corner-minor:2px;
            $spacing:2px;
            $corner-p:20%;

            // white-space: nowrap;
            display:flex;
            margin-right:12px;

            div {
              display:inline-block;
              padding:0px;
              margin:0px;
            }

            .vertical-wrapper {
              display:flex;
              flex-direction:column;
            }

            .top-bar, .bottom-bar, .left-bar, .right-bar {
              transition:opacity 0.2s ease-out;
              opacity:0.0;
              display:inline-block;
              background-color:$light-blue;
            }

            .top-bar {
              height:$corner-minor;
              width:$corner-p;
              margin-bottom:$spacing;
              margin-left:-6px;
            }

            .bottom-bar {
              height:$corner-minor;
              width:$corner-p;
              margin-top:$spacing;
              align-self:flex-end;
              margin-right:-6px;

            }

            .left-bar {
              height:$corner-p;
              width:$corner-minor;
              margin-right:6px;
            }

            .right-bar {
              height:$corner-p;
              width:$corner-minor;
              align-self:flex-end;
              margin-left:6px;
            }
          }

          a:hover {
            // text-decoration:underline;

            .top-bar, .bottom-bar, .left-bar, .right-bar {
              // visibility:visible;
              opacity:1.0;
            }
          }
        }
      }
    }

    div.page {
      background-color:$greyish;
      color:$light-blue;
      // padding:12px;
      margin-top:1.5rem;
      padding:12px 8px;
      font-size:16pt;

      animation: navigation-motion 12s ease-out;
      animation-iteration-count: infinite;

      .content-wrapper {
        border-bottom:2px solid $light-blue;
        padding:12px;
        padding-top:0px;
      }

      // General Page Content Styling

      a {
        text-decoration:underline;
      }

      h3 {
        font-family:Coda;

        .less {
          // font-family:VT323;
          font-size:1rem;
        }
      }

    }

    img.page-footer {
      width:100%;
    }

    .boring-footer-info {
      width:100%;
      display:inline-block;
      padding:8px;
      text-align:center;
      margin-bottom:3rem;
    }

    // div.page-footer {
    //   width:100%;
      
    // }

    .dot-wrapper {
      display:inline-block;
      padding:4px;
      padding-right:2px;
      .dot {
        display:inline-block;
        background-color:$light-blue;
        height:4px;
        width:4px;
      }
    }

    #boopPlayer, #dinkPlayer {
      display:none;
    }
  }
}